<footer class="bg-light text-dark py-3 border-top border-darrk">
    <div class="container text-center">
        <p class="m-0">&copy; 2024 ServicePoint. All rights reserved.</p>
        <p class="small">Follow us on <a href="https://github.com/Mangal-Devanshu" target="_blank" class="text-primary">Github</a> | <a href="https://www.linkedin.com/in/devanshu-mangal-4bb666297/" target="_blank" class="text-primary">LinkedIn</a></p>
        <p class="small">- Developed by Mangal Devanshu</p>
    </div>
</footer>
