{% extends 'layout.html' %}
{% block title %}
    Profile Page
{% endblock %}
{% block content %}
    {%if session.user_type == 'user'%}

        <div class="container">
            <div class="card border border-black mx-auto mt-5" style="width: 50rem;">
                <div class="card-header border-bottom border-dark">
                    <h2 class="fs-3 text-center">Profile</h2>
                </div>
                <div class="card-body bg-warning">
                    <div class="card border border-black">
                        <div class="card-header bg-light border-bottom border-dark">
                            <h3 class="fs-5 text-center">Update Details</h3>
                        </div>
                        <div class="card-body">
                            <form action="{{url_for('handle_profile')}}" method="POST" class="text-dark py-3">
                                <div class="mb-4">
                                    <label for="username" class="form-label">Username:</label>
                                    <input type="text" class="form-control border border-black" id="username" value="{{user.username}}" required name="username" placeholder="Enter Username">
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name:</label>
                                    <input type="text" class="form-control border border-black" id="name" value="{{user.name}}" name="name" placeholder="Enter Name">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control border border-black" id="email" value="{{user.email}}" disabled name="email">
                                    <p class="text-black-50">Email cannot be changed.</p>
                                </div>
                                <div class="mb-3">
                                    <label for="current_password" class="form-label">Current Password:</label>
                                    <input type="password" class="form-control border border-black" id="current_password" required name="current_password" placeholder="Enter Current Password">
                                </div>
                                <div class="mb-3">
                                    <label for="new_password" class="form-label">New Password:</label>
                                    <input type="password" class="form-control border border-black" id="new_password" name="new_password" placeholder="Enter New Password">
                                </div>
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">Confirm Password:</label>
                                    <input type="password" class="form-control border border-black" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-4">
                                    <button type="submit" class="btn btn-primary border border-black">Update Profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        {% elif session.user_type=="service professional" %}
        <div class="container flex-row justify-content-center align-items-start mt-5 m-5">
            <div class="card mx-auto border border-black" style="width: 50rem;">
                <div class="class-header border-bottom border-black">
                    <h2 class=" text-center text-dark">Profile</h2>
                </div> 
                <div class="card-body bg-warning">
                    
                    <form action="{{url_for('handle_profile')}}" method="POST">
                        <!-- User Details Section -->
                        <div class="card border border-black mb-4">
                            <div class="card-header bg-light border-bottom border-dark">
                                <h3 class="fs-5 text-center">Update Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username:</label>
                                    <input type="text" class="form-control border border-black" id="username" value="{{user.username}}" required name="username" placeholder="Enter Username">
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name:</label>
                                    <input type="text" class="form-control border border-black" id="name" value="{{user.name}}" required name="name" placeholder="Enter Name">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control border border-black" id="email" value="{{user.email}}" disabled name="email">
                                    <p class="text-black-50">Email cannot be changed.</p>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description:</label>
                                    <textarea class="form-control border border-black" id="description" required name="description" placeholder="Enter Description">{{user.description}}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category:</label>
                                    <select class="form-select border border-black" id="category" name="category">
                                        <option value="" disabled>Select a category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}" {% if category.id == user.category_id %} selected {% endif %}>{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="experience" class="form-label">Experience:</label>
                                    <textarea class="form-control border border-black" id="experience" required name="experience" placeholder="Enter Experience">{{user.experience}}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="current_password" class="form-label">Current Password:</label>
                                    <input type="password" class="form-control border border-black" id="current_password" required name="current_password" placeholder="Enter Current Password">
                                </div>
                                <div class="mb-3">
                                    <label for="new_password" class="form-label">New Password:</label>
                                    <input type="password" class="form-control border border-black" id="new_password" name="new_password" placeholder="Enter New Password">
                                </div>
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">Confirm Password:</label>
                                    <input type="password" class="form-control border border-black" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
                                </div>
                                
                            </div>
                        </div>
        
                        <div class="card border border-black mb-4">
                            <div class="card-header bg-light border-bottom border-dark">
                                <h3 class="fs-5 text-center">Update Service Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="service_name" class="form-label">Service Name:</label>
                                    <input type="text" class="form-control border border-black" id="service_name" required name="service_name" value="{{service.name}}" placeholder="Enter Service Name">
                                </div>
                                <div class="mb-3">
                                    <label for="service_area_pincode" class="form-label">Pincode:</label>
                                    <input type="text" class="form-control border border-black" id="service_area_pincode" required name="service_area_pincode" value="{{service.area_pincode}}" placeholder="Enter Service Pincode">
                                <div class="mb-3">
                                    <label for="service_description" class="form-label">Service Description:</label>
                                    <textarea class="form-control border border-black" id="service_description" required name="service_description" placeholder="Enter Service Description">{{service.description}}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="service_price" class="form-label">Service Price:</label>
                                    <input type="number" class="form-control border border-black" id="service_price" required name="service_price" value="{{service.price}}" placeholder="Enter Service Price">
                                </div>
                                <div class="mb-3">
                                    <label for="service_duration" class="form-label">Service Duration:</label>
                                    <input type="number" class="form-control border border-black" id="service_duration" required name="service_duration" value="{{service.time}}" placeholder="Enter Service Duration">
                                </div>
                            </div>
                        </div>
        
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <button type="submit" class="btn btn-primary border border-black">Update Profile</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
        
        


    {% else%}
    <div class="container">
        <div class="card border border-black mx-auto mt-5" style="width: 50rem;">
            <div class="card-header border-bottom border-dark">
                <h2 class="fs-3 text-center">Profile</h2>
            </div>
            <div class="card-body bg-warning">
                <div class="card border border-black">
                    <div class="card-header bg-light border-bottom border-dark">
                        <h3 class="fs-5 text-center">Update Details</h3>
                    </div>
                    <div class="card-body">
                        <form action="{{url_for('handle_profile')}}" method="POST" class="text-dark py-3">
                            <div class="mb-4">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" class="form-control border border-black" id="username" value="{{user.username}}" required name="username" placeholder="Enter Username">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control border border-black" id="name" value="{{user.name}}" name="name" placeholder="Enter Name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control border border-black" id="email" value="{{user.email}}" disabled name="email">
                                <p class="text-black-50">Email cannot be changed.</p>
                            </div>
                            <div class="mb-3">
                                <label for="current_password" class="form-label">Current Password:</label>
                                <input type="password" class="form-control border border-black" id="current_password" required name="current_password" placeholder="Enter Current Password">
                            </div>
                            <div class="mb-3">
                                <label for="new_password" class="form-label">New Password:</label>
                                <input type="password" class="form-control border border-black" id="new_password" name="new_password" placeholder="Enter New Password">
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Confirm Password:</label>
                                <input type="password" class="form-control border border-black" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
                            </div>
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <button type="submit" class="btn btn-primary border border-black">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}       