{% extends 'layout.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center ">
    <div class="card" style="width: 45rem; height: 45rem;">
        <div class="card-body">

            <h1 class="display-4 text-dark text-center ">Register</h1>
            <form class="text-dark py-4" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username:<span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="username" required name="username">
                
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name:<span style="color: red;">*</span></label> 
                <input type="text" class="form-control" id="name" required name="name">
            </div>
                
            <div class="mb-3">
                <label for="email" class="form-label">Email:<span style="color: red;">*</span></label>
                <input type="email" class="form-control" id="email" required name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="password" required name="password">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="confirmPassword" required name="confirmPassword">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                <a href="{{url_for('show_login')}}" class="btn btn-link text-primary pt-4 fs-6 ">Already have an account? Login</a>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a href="{{url_for('show_register_professional')}}" class="btn btn-link text-primary fs-6  ">Register as professional</a> 
            </div>

            </form>

        </div>
    </div>
</div>
  

{% endblock %}
