{% extends 'layout.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="display-4 text-center text-dark">Dashboard</h1>
        <div class="mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Summary</h2>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-left align-items-center">
                        <div class="card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <a href="{{url_for('show_register_professional')}}" class="btn btn-primary">Categories</a>
                            </div>
                        </div>
                        <div class="card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <a href="{{url_for('show_register_professional')}}" class="btn btn-primary">Professionals</a>
                            </div>
                        </div>
                        <div class="card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <a href="{{url_for('show_register_professional')}}" class="btn btn-primary">Service Requests</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Categories Preview</h2>
                </div>
                <div class="card-body">
                    <div class="card-body text-left">
                        <a href="{{url_for('handle_add_category')}}" class="btn btn-success"><i class="fa fa-plus
                            " aria-hidden="true"></i> Add</a>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Total Services</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.services|length }}</td>
                                <td >
                                 <a href="{{url_for('show_category', id=category.id)}}" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                 <a href="{{url_for('show_edit_category', id=category.id)}}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                 <a href="{{url_for('delete_category', id=category.id)}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Professionals Preview</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Category</th>
                                <th>Service</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for professional in professionals %}
                            <tr>
                                <td>{{ professional.id }}</td>
                                <td>{{ professional.name }}</td>
                                <td>{{ professional.username }}</td>
                                <td>{{ professional.email }}</td>
                                <td>{{ professional.category }}</td>
                                <td>{{ professional.service.name}}</td>
                                <td>
                                    <a href="{{url_for('show_professional', id=professional.id)}}" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href="{{url_for('delete_professional', id=professional.id)}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Service Requests Preview</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Service</th>
                                <th>Professional</th>
                                <th>User</th>
                                <th>Appointment</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for request in service_requests %}
                            <tr>
                                <td>{{ request.id }}</td>
                                <td>{{ request.service.name}}</td>
                                <td>{{ request.service.service_professional.name }}</td>
                                <td>{{ request.user.name }}</td>
                                <td>{{ request.created_at }}</td>
                                <td>{{ request.status }}</td>
                                <td>{{ request.payment_status }}</td>
                                <td>
                                    <a href="{{url_for('show_service_request', id=request.id)}}" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href="{{url_for('show_edit_service_request', id=request.id)}}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href="{{url_for('delete_service_request', id=request.id)}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}